:root {
    --off-white: #FAF9F6;
    --main-blue: #00A7F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    background-color: grey;
}

header {
    background-color: var(--main-blue);
    height: 75px;
    width: 100%; 

    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex: 1;
}

#sidebar {
    background-color: var(--off-white);
    width: 250px;
}

main {
    flex: 1; 
    background-color: red;
    overflow: auto; 
}

footer {
    background-color: var(--main-blue);
    height: 30px;
    width: 100%;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
